<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test ckecknft.io">
    <test name="TestAPI">
        <classes>
            <class name="io.checknft.api.tests.CollectionsTest"/>
            <class name="io.checknft.api.tests.EventsTest"/>
            <class name="io.checknft.api.tests.TokensTest"/>
        </classes>
    </test>
</suite>